<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact
  <a href="mailto:larrysingleton@unomaha.edu">Larry Singleton</a>
  and
  <a href="mailto:ikoeppe@unomaha.edu">Ian Koeppe</a>
  with any inqueries or issues.
</p>