<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p>
  Contact
  <a href="mailto:larrysingleton@unomaha.edu">Larry Singleton</a>
  and
  <a href="mailto:ikoeppe@unomaha.edu">Ian Koeppe</a>
  with any inqueries or issues.
</p>
<h3>Concerns or issues?</h3>
<p>Get help by calling <a href="tel:8888675309">888-867-5309</a> 7am - 7pm weekdays only</p>