<% provide(:title, "Home") %>

<div class="row" style="text-align: center;">
  <div class="col-lg-4">
    <%= image_tag("parking.png", width: 140, height: 140) %>
    <h2>No Searching</h2>
    <p>Stop wasting that precious time before class starts driving around multiple parking lots.</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <%= image_tag("review.png", width: 140, height: 140) %>
    <h2>Build a Rep</h2>
    <p>Simple reviews makes it easy to tell if your dealing with trustworthy users.</p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <%= image_tag("change.png", width: 140, height: 140) %>
    <h2>Make A Little Money</h2>
    <p>Receive a little fee for giving up your spot. You were going to leave it anyway!</p>
  </div><!-- /.col-lg-4 -->
</div>