<% provide(:title, "Home") %>
<h1>UNO Parking Online Tool</h1>
<div class="row">
  <div class="col-md-4">
    <h2>No Searching</h2>
    <p>Stop wasting that precious time before class starts driving around multiple parking lots.</p>
  </div>
  <div class="col-md-4">
    <h2>Build a Rep</h2>
    <p>Simple reviews makes it easy to tell if your dealing with trustworthy users.</p>
  </div>
  <div class="col-md-4">
    <h2>Make A Little Money</h2>
    <p>Receive a little fee for giving up your spot. You were going to leave it anyway!</p>
  </div>
</div>