<% provide(:title, "Availability") %>
<h1>Available Spots</h1>
<div id="map-container">
  <div id="map-canvas">

  </div>
</div>

<%= javascript_include_tag '/assets/parking/gmap', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBbyK0qe0mb8tJdHXO0-ptdX8fHl3gsbms&callback=initMap" %>